MSSQL_PLATFORM=linux/amd64
ORACLE_PLATFORM=linux/amd64

ORMDANTIC_TEST_POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/postgres
ORMDANTIC_TEST_MYSQL_URL=mysql://root:mysql@localhost:3306/mysql
ORMDANTIC_TEST_MARIADB_URL=mariadb://root:mariadb@localhost:3307/mariadb
ORMDANTIC_TEST_MSSQL_URL=mssql://sa:Password123@localhost:1433/master?trust_cert=true
ORMDANTIC_TEST_ORACLE_URL=oracle://system:oracle@localhost:1521/FREEPDB1
